
main {
    background-color: #000000aa;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;         
    height: 100dvh;
    object-fit: cover;
    z-index: -1;

    user-select: none;
}

.btn-back {
    position: absolute;
    top: 10px;
    left: 10px;

    user-select: none;
}

.title {
    position: relative;
    margin-top: 50px;
    padding: 20px;

    text-align: center;
}

.title::before {
    content: "BETA";
    color: var(--color-background-darker);
    background-color: #ffe657;

    font-size: 1rem;
    padding: 5px 1rem;

    position: absolute;
    bottom: -30px;
    right: 10px;

    transform: rotate(-10deg);
    clip-path: polygon(
        0% 0%, 100% 0%, 
        100% calc(50% - 10px), calc(100% - 12px) 50%, 100% calc(50% + 10px), 
        100% 100%, 0% 100%, 
        0% calc(50% + 10px), 12px 50%, 0% calc(50% - 10px)
    );
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    width: 100%;
    
    gap: 1rem;

    border-radius: 2rem;
    padding: 10px;

    border: 1px solid var(--color-background-darker);
    background-color: #00000066;
    backdrop-filter: blur(var(--glass-blur-radius));
}

#search {
    border-radius: 2rem;
    padding: 10px;
    flex: 1;

    font-size: 1.15rem;

    background-color: var(--color-background-main);
    border: 1px solid var(--color-background-dark);
    outline: 3px solid transparent;

    transition: 0.3s ease;
}

#search:focus {
    outline: 3px solid var(--color-accent);
}

#search::placeholder {
    user-select: none;
}

.character-grid {
    max-width: 1200px;
    width: 100%;

    margin: 20px 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    gap: 16px;
}

.character-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;

    width: 100%;
}

.character-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    width: 180px;
    height: 100%;
    border-radius: 15px;

    border: 1px solid var(--color-background-dark);
    background-color: #00000066;
    backdrop-filter: blur(var(--glass-blur-radius));
    outline: 3px solid transparent;

    transition: 0.3s ease;
}

.character-checkbox:checked + .card-content {
    background-color: #5fad50;
}

.character-checkbox:focus + .card-content {
    outline: 3px solid var(--color-accent);
}

.character-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.character-name {
    text-align: center;
    margin: 10px 0 0 0;
}

footer {
    background: none;
    backdrop-filter: blur(var(--glass-blur-radius));
}
